.redactorConteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  max-width: 320px;
  @media (max-width: 650px ) {
    max-width: 95%;
  }
}

.redactorToDO {
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 320px;
  overflow-x: auto;
  display:none;
  @media (max-width: 650px ){
    position: absolute;
    width: 90vw;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}

.redactorConteiner p {
  font-family: 'Roboto', sans-serif;
  font-size: $baseFontSize;
  text-align: center;
  padding-bottom: 5px;
}

.redactorConteiner input {
  background: $collorThemeMain_2;
  height: 20px;
  border-radius: 25px;
  border: none;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: $baseFontSize;
}

.redactorConteiner textarea {
  background: $collorThemeMain_2;
  height: calc( 100vh - 400px);
  max-height: 200px;
  border-radius: 25px;
  padding: 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: $baseFontSize;
  resize: none;
  scroll-padding-right:10px
}

textarea::-webkit-scrollbar {
  display: none;
}

.redactorConteiner select {
  background: $collorThemeMain_2;
  height: 30px;
  border-radius: 25px;
  padding-left: 15px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: $baseFontSize;
  appearance: none;
  background-image: url('../../img/arrow_drop_down.svg');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: calc(50%);
  cursor: pointer;
  width: 100%;  
}
  
.redactor-control {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.redactor-control button {
  background: $collorThemeMain_3;
  height: 50px;
  border-radius: 25px;
  width: 100%;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: $baseFontSize;
  color: $collorTextLight;
  border: none;
}

.input__date {
  width: calc(100% - 15px);
  padding-right: 0px;
}

.input__date::-webkit-calendar-picker-indicator {
  padding-right: 10px;
  cursor: pointer;
}
  
.alertlog {
  font-family: 'Roboto', sans-serif;
  font-size: $litleFontSize;
  text-align: center;
  color: $collorOverdueMain;
  padding-top: 10px;
}

.flexConteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
}

.flexConteiner__item {
  width: 48%;
  flex: 1 1 auto;
}

.redactorToDO__back {
  background-color: $collorThemeMain_1;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}