.header__conteiner {
  max-width: 320px;
  height: 160px;
  width: 90%;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  font-family: 'Fredoka One', cursive;
  color: $collorTextDark;
  text-align: center;
  font-size: $bigFontSize;
}

.header__circle {
  position: absolute;
  width: 100%;
  border-radius: 50%;
  background-color: $collorThemeMain_3;
  bottom: 65px;
  left: 0;
  z-index: -5;
}

.header__circle:after {
  content: "";
  padding-top: 100%;
  display: block;
} 