$collorWaitingMain: #5e6572;
$collorWaitingSecond: #7D98A1 ;
$collorInProcessMain: #74226C;
$collorInProcessSecond: #816E94;
$collorCompletedMain: #04773b;
$collorCompletedSecond: #058e3f;
$collorOverdueMain:#702632;
$collorOverdueSecond: #912f40;

$collorThemeMain_1:#EEF1EF;
$collorThemeMain_2:#A9B4C2;
$collorThemeMain_3:#5E6572;
$collorThemeMain_selected:#EEF1EF;
$collorTextDark:black;
$collorTextLight: white;

$baseFontSize: 18px;
$litleFontSize: 15px;
$bigFontSize: 20px;